* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  height: 100%;
  width: 100%;
  
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  border: 4px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: gray;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px 20px;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 5px;
}
